<main>
<aside><h2>Sobre nós</h2>
<span><h2>Horti em Casa</h2></span>
<p>Com o aumento da demanda por alimentos organicos e o
    veganismo e vegetarianismo se tornando mais popular, duas
    situacões de demonstram aparentes, agricultores familiares que 
    querem aumentar seus lucros e pessoas que procuram produtos
    organicos com preços mais acessíveis. Para solucionar ambos
    problemas ,e necessário voltar a atencão para o e-commerce
    e delivery, com uma plataforma Web que possa beneficiar
    ambos lados, alem de ajudar o comerciante a encontrar novos clientes devido a um sistema de recomendacão para os
    usuarios que procuram novos produtos orgânicos.</p></aside>

<article>
    <img class="img" src="components/images/vegan.png" alt = "vegan">
</article>
</main>