<main>
    <aside>
        <span><h2>Contato</h2></span>
        <p><b>Alguma dúvida sobre nós? Entre em contato.</p></b></p>
        <form>
            <input class="contact-item" type = "text" id = "name" placeholder = "Nome">
            <input class="contact-item" type = "email" id = "email" placeholder = "E-mail">
            <textarea class="contact-item" id = "texto" name = "texto_usuario" placeholder = "Conteúdo da mensagem"></textarea>
            <input class="contact-item" type = "submit" value = "ENVIAR" id="submit">
        </form>
    </aside>

    <article class = "conversation">
        <img  src="components/images/conversation.png" alt="contato">
    </article>
</main>