<main>
    <aside>
        <h2>
            <span> 
                Faça Parte Agora
            </span>
        </h2>
        <h2>
            do Horti em Casa!
        </h2>
        <p>
            O melhor lugar para encontrar os melhores produtos orgânicos da sua região! 
            Apoie agricultores locais e encontre os melhores produtos perto de você!
            Não tem nada melhor que nossa casa então venha para Horti em Casa
        </p>
        <form>
            <input type = "text" id = "name" placeholder = "Nome">
            <input type = "email" id = "email" placeholder = "E-mail">
            <input type = "submit" value = "QUERO PARTICIPAR" id="submit">
        </form>
    </aside>
    
    <article>
        <img src="components/images/legumes.png" alt = "legumes">
    </article>
</main>