<main>
    <div class="container">
        <h1 style="text-align:center">Login</h1>
        <form>
            <input type="email" id="email" placeholder="E-mail">
            <input type="password" id="password" placeholder="Senha">
            <input type="submit" value="ENTRAR" id="submit">
            <input type="submit" value="CADASTRE-SE" id="submit">
        </form>
        <p style="text-align:center">Esqueçeu a senha?</p>
    </div>
    <article>
        <img src="components/images/login.png" alt="login icon">
    </article>
</main>