<main>
    <aside>
        <h2>Serviços</h2>
        <span>
            <h2>Horti em Casa</h2>
        </span>
        <p>Os Agricultores familiares podem promover seus produtos de uma forma mais fácil e eficiente pelo aplicativo
            que está relacionado ao site
            Que é de entrega de alimentos organicos
            Clientes vão poder negociar com os agricultores sobre produtos e preços para conseguir algo que seja mais
            vantajoso e com melhor custo benefício, além de ser mais perto de onde está</p>
    </aside>

    <article>
        <img class="img" src="components/images/service.png" alt="negocio">
    </article>
</main>