@media screen and (max-width: 1148px){

    a {
        font-size: 2.5em;
    }

    p {
        font-size: 1.1em;
    }

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 4em;
    }

    form {
        margin: 0 auto;
        
    }

    #submit {
        padding: 15px;
        font-size: 2em;
        width: 28rem;
        height: 2.2em;
    }

    input{
        align-self: center;
        font-size: 2em;
        height: 1.5em;
    }

    img{
        display: none;
    }

    ul {
        text-align: center;
    }
}