body{
    /* background-color: rgba(#388E3C); */
    background-color: rgb(56, 142, 60);
    color: white;
    font-family: poppinsregular;
    max-Width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

aside {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex; /* disposição dos elementos*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#title {
    flex-direction: column;
    line-height: 10px;
    
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    font-family: poppinsbold;
}

a:hover {
    color: rgb(33, 33, 33);
    transition: 0.3s all;
}

#inscrever {
    border: 5px solid rgb(33, 33, 33);
    padding:10px;
    border-radius: 15px;
}

#inscrever:hover {
    background-color: rgb(33, 33, 33);
    color: white;
}

h1 {
    font-weight: 400;
    font-family: poppinsmedium;
}

h2{
    font-size: 50px;
    line-height: 15px;
    font-family: poppinsmedium;
}

main {
    display: flex; /* disposição dos elementos*/
    flex-direction: row;
    margin-top: 50px;
}

span{
    color: rgb(33, 33, 33)
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 380px;
    padding-left: 250px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#submit {
    height: 20px;
    width: 100%;
    background-color: rgb(33,33,33);
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
}

#submit:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

#content-user {
    text-align: center;
    font-size: 10 em;
    color: white;
}